/*
 * Color scheme from: https://color.adobe.com/Theme-2-color-theme-6131303
 */

html {
  position: relative;
  min-height: 100%;
}

.alert {
  border-radius: 0px;
}

.inline {
  display:inline;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.card {
  display: table;
  width: 100%;
  height: 280px;
  text-align: center;
  padding: 20px;
  margin: 15px 0;
  background-color: #453D4E;
}

.text {
  display: table-cell;
  vertical-align: middle;
  text-shadow: 1px 1px 0px black;
}

body {
  background-color: #E7C299;
  color: #E6F1F5;
  padding: 0;
  padding-top: 80px;
  font-family: 'Quando';
  font-size: 1.8em;
  margin-bottom: 60px;
  background-color: #101126;
}

.menu {
  font-family: 'Roboto Condensed';
  font-weight: 700;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #E7E3CC;
}

a:active, a:focus {
  color: #E7C299;
}

main.container-fluid {
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
