/*
* Color scheme from: https://color.adobe.com/Theme-2-color-theme-6131303
*/
/* line 1, _test.scss */
.card {
  display: table;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: 6px 0;
}

/* line 7, main.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 12, main.scss */
.alert {
  border-radius: 0px;
}

/* line 15, main.scss */
.inline {
  display: inline;
}

/* line 19, main.scss */
.letter {
  font-size: 1.8em;
}

/* line 23, main.scss */
.text {
  display: table-cell;
  vertical-align: middle;
}

/* line 28, main.scss */
.card .text {
  font-size: 1.4em;
}

/* line 31, main.scss */
.card {
  float: left;
}

/* line 35, main.scss */
.container .search {
  margin-bottom: 10px;
}

/* line 39, main.scss */
main.container-fluid {
  min-height: 100%;
}

/* line 43, main.scss */
body {
  background-color: #AAB3B6;
  color: #E6F1F5;
  padding: 0;
  padding-top: 75px;
  font-family: 'Quando';
  margin-bottom: 80px;
}

/* line 52, main.scss */
.menu {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  text-shadow: 0 1px 0 #888;
}

/* line 58, main.scss */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #E7E3CC;
}

/* line 66, main.scss */
a:active, a:focus {
  color: #E7C299;
}

/* line 70, main.scss */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 19px;
  background-color: #222;
  color: #777;
}

/* line 82, main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* line 86, main.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Responsive: Portrait tablets and up */
