<div class="row alert alert-info">
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Search" aria-describedby="addon" ng-model="query">
    <span class="input-group-addon" id="addon"><i class="fa fa-search"></i></span>
  </div>
</div>

<div class="row alert alert-info text-center">
  <p>
    Filter by first letter
  </p>
  <ul class="list-inline">
    <li ng-repeat="letter in alphabet">
      <h3><a href>{{letter}}</a></h3>
    </li>
  </ul>
</div>

<div class="row well">
  <div ng-repeat="proverb in proverbs | filter:query">
    <a href="#/{{langID}}/{{$index}}">{{proverb}}</a>
  </div>
</div>
