<div class="row menu alert">
  <div class="container">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Search" aria-describedby="addon" ng-model="query">
      <span class="input-group-addon" id="addon"><i class="fa fa-search"></i></span>
    </div>
  </div>
</div>

<div class="row menu alert text-center">
  <ul class="list-inline">
    <li ng-repeat="letter in alphabet">
      <h3><a href class="letter" ng-click="setActiveLetter(letter)">{{letter}}</a></h3>
    </li>
  </ul>
  <p>
    Clear Filter
  </p>
  <p>
    Currently showing proverbs starting with {{activeLetter}}.
  </p>
</div>

<div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="proverb in proverbs | filter:query | firstLetter:activeLetter:filterEnabled">
  <div class="card">
    <a href="#/{{langID}}/{{getProverbID(proverb)}}" class="text">
      {{proverb}}
    </a>
  </div>
</div>
